<div class="py-5">
  <div class="row">
      <div class="col-md-6 mx-auto"> <h1>Prago Infotech</h1></div>

    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-100">
        <div class="card-header">
          <h3 class="mb-0">Register</h3>
         
        </div>
        <div class="card-body">
          <div class="loader" *ngIf="dataLoading"></div>
            <div class="alert alert-danger" role="alert" *ngIf="error">
              An error occured!!!. Here is the error : {{ errorMessage }}.
            </div>
            <div *ngIf="savedChanges else showForm">
              New Account is created. Please login.
              <button class="btn btn-lg btn-primary btn-block" routerLink="/login" type="button">Login</button>
            </div>
            <ng-template #showForm>
              <span class="lead">
                <form class="form-signin" #newUserForm="ngForm" (ngSubmit)="setUser(newUserForm.value)">
                    <div class="form-label-group">
                        <input type="text" name="Username" id="Username" class="form-control" placeholder="Name" #Username="ngModel"
                          autofocus required ngModel>
                      </div>
                      <div style="color:red" role="alert" *ngIf="Username.invalid && (Username.dirty || Username.touched)">
                        Please enter a valid Name.
                      </div>
                      <br/>
                  <div class="form-label-group">
                    <input type="email" name="Email" id="Email" class="form-control" placeholder="Email address" #Email="ngModel"
                      autofocus required email ngModel>
                  </div>
                  <div style="color:red" role="alert" *ngIf="Email.invalid && (Email.dirty || Email.touched)">
                    Please enter a valid email.
                  </div>
                  <br/>
                  
                  <div class="form-label-group">
                    <input type="password" name="Password" id="Password" class="form-control" placeholder="Password" #Password="ngModel"
                      required minlength="3" maxlength="20" ngModel>
                  </div>
                  <div style="color:red" role="alert" *ngIf="Password.invalid && (Password.dirty || Password.touched)">
                    Please enter a valid password between 3 to 20 chars.
                  </div>
                  <br/>
                  <div *ngIf="!newUserForm.valid else showSubmitButton">
                    <button class="btn btn-lg btn-block btn-block" type="submit" disabled>Sign up</button>
                  </div>
                  <ng-template #showSubmitButton>
                    <button class="btn btn-primary btn-block" type="submit">Sign up</button>
                  </ng-template>
                  <p class="mt-5 mb-3 text-muted text-center">
                      Already Have Account?? 
                    <a routerLink="/login">Login Here</a>
                  </p>
                </form>
              </span>
            </ng-template>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    </div>


  </div>
</div>